.RecruitInfo * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(66, 66, 66);
}

.RecruitInfo {
    width: 100vw;
    height: 800px;
    margin-top: 100px;
}

.RecruitInfo .recruit-content {
    width: 100%;
    height: 100%;
}

.RecruitInfo .recruit-box {
    width: 1100px;
    height: auto;
}

.RecruitInfo .recruit-box span {
    font-size: 45px;
    color: black;
}

.RecruitInfo .recruit-box hr {
    width: 420px;
    height: 1px;
    border: 0;
    margin: 0;
    background-color: rgb(66, 66, 66);
}

.RecruitInfo .recruit-box .table {
    width: 730px;
    height: auto;
    float: right;
    margin-top: 50px;
    border: 0;
}

.RecruitInfo .recruit-box .table tr {
    font-size: 17px;
}

.RecruitInfo .recruit-box .table .label {
    width: 130px;
    font-weight: 600;
}

.RecruitInfo .recruit-box .table .label,
.RecruitInfo .recruit-box .table .content {
    padding-top: 32px;
    padding-bottom: 32px;
}

.RecruitInfo .recruit-box .btn-row {
    width: 650px;
    text-align: right;
}

.RecruitInfo .recruit-box .btn-row td {
    border: 0;
}

.RecruitInfo .recruit-box .more-btn {
    border: 0;
    width: 115px;
    height: 46px;
    margin-right: 10px;
    font-size: 15px;
    color: rgb(7,1,38);
    background-color: rgba(44, 250, 209, 0.688);
    color: rgb(7, 1, 38);
}

@media only screen and (min-width:768px) and (max-width:1200px) {
    .RecruitInfo .recruit-box {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .RecruitInfo .recruit-box .table {
        width: 100%;
        float: left;
    }
}

@media only screen and (max-width:767px) {
    .RecruitInfo {
        height: 750px;
    }
    .RecruitInfo .recruit-box {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .RecruitInfo .recruit-box span {
        font-size: 28px;
    }
    .RecruitInfo .recruit-box hr {
        width: 265px;
    }
    .RecruitInfo .recruit-box .table {
        width: 100%;
        float: left;
    }
    .RecruitInfo .recruit-box .table .label {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .RecruitInfo .recruit-box .table tr {
        font-size: 16px;
    }
    .RecruitInfo .recruit-box .table tr td div {
        font-weight: 500;
    }
    .RecruitInfo .recruit-box ul {
        margin-top: 10px;
        font-weight: 500;
    }
    .RecruitInfo .recruit-box .btn-row {
        width: 100%;
        text-align: right;
    }
    .RecruitInfo .recruit-box .btn-row td {
        border: 0;
    }
    .RecruitInfo .recruit-box .more-btn {
        border: 0;
        width: 90px;
        height: 40px;
        margin-right: 10px;
        font-size: 13px;
        background-color: rgb(187, 248, 221);
    }
}