.ScrollNav * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    position: relative;
    z-index: 3;
}

.ScrollNav {
    width: 100vh;
}

.ScrollNav .navbar-brand {
    float: left;
    margin: 0;
}

.ScrollNav #navBar {
    height: 90px;
    padding: 25px;
    top: 0px;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 0 0 white;
}

.ScrollNav .nav-content {
    width: 900px;
    padding: 0;
    margin-left: 100px;
}

.ScrollNav #menuList {
    position: absolute;
    top: 18px;
    height: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ScrollNav #menuList li {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-align: center;
    font-size: 150%;
}

.ScrollNav #menuList li button:hover {
    background-color: rgb(196, 253, 229);
}

.ScrollNav #menuList li button:click {
    border: 0px;
}

.ScrollNav #menuList li button {
    width: 150px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px;
    color: rgb(66, 66, 66);
}

.ScrollNav .nav-content .dropdown-nav span {
    margin-right: 20px;
    font-size: 25px;
}

.ScrollNav .nav-content .dropdown-nav button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 7px;
}

.ScrollNav .nav-content .dropdown-nav button:click {
    border: 0;
}

.ScrollNav #navBar #dropdownMenu {
    border: 1px solid salmon;
    width: 1000px;
    height: 5000px;
}

.ScrollNav #navBar #dropdownMenu ul {
    list-style-type: none;
    margin: 0;
}

@media only screen and (max-width:1200px) {
    .ScrollNav #navBar {
        width: 100%;
        border-bottom: 1px solid lightgrey;
        border: 1px solid red;
    }

    .ScrollNav .nav-content {
        width: 100%;
        margin: 0;
    }
}