.ScrollNav * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    position: relative;
    color: rgb(66, 66, 66);
}

.ScrollNav {
    width: 100vh;
    position: absolute;
    display: block;
    margin-top: 20px;
    z-index: 2;
}

.ScrollNav .navbar-brand {
    float: left;
    margin: 0;
}

.ScrollNav #navBar {
    height: 90px;
    padding: 25px;
    top: 0px;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 0 0 white;
}

.ScrollNav .nav-content {
    width: 900px;
    padding: 0;
    margin-left: 100px;
}

.ScrollNav #menuList {
    position: absolute;
    top: 18px;
    height: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ScrollNav #menuList li {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-align: center;
    font-size: 150%;
}

.ScrollNav #menuList li button:hover {
    background-color: rgb(196, 253, 229);
}

.ScrollNav #menuList li button:click {
    border: 0px;
}

.ScrollNav #menuList li button {
    width: 150px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: 0px;
    color: rgb(66, 66, 66);
}

.ScrollNav .nav-content .dropdown-nav span {
    margin-right: 20px;
    font-size: 25px;
}

.ScrollNav .nav-content .dropdown-nav button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 15px;
}

.ScrollNav .nav-content .dropdown-nav button:click {
    border: 0;
}

.ScrollNav #dropdownMenu {
    width: 170px;
    height: auto;
    position: fixed;
}

.ScrollNav #dropdownMenu ul {
    list-style-type: none;
    margin: 0;
    box-shadow: 2px 2px 11px 1px lightgrey;
}

.ScrollNav #dropdownMenu ul li {
    text-align: center;
    font-size: 150%;
    line-height: 60px;
    vertical-align: middle;
    background-color: white;
}

.ScrollNav #dropdownMenu button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

.ScrollNav #dropdownMenu button:click {
    border: 0;
}

@media only screen and (max-width:767px) {
    .ScrollNav #navBar {
        width: 100%;
        height: 60px;
        padding: 10px;
        padding-left: 20px;
        border-bottom: 1px solid lightgrey;
    }

    .ScrollNav .nav-content {
        width: 100%;
        margin: 0;
    }

    .ScrollNav .nav-content .dropdown-nav span {
        font-size: 17px;
    }

    .ScrollNav #dropdownMenu {
        top: 60px;
    }

    .ScrollNav #dropdownMenu {
        width: 115px;
    }

    .ScrollNav #dropdownMenu ul li {
        font-size: 110%;
        line-height: 45px;
    }

    .ScrollNav .nav-content .dropdown-nav button {
        padding: 7px;
    }
}

@media only screen and (min-width:767px) and (max-width:1200px){
    .ScrollNav #navBar {
        width: 100vw;
        height: 90px;
        padding: 10px;
        padding-left: 35px;
        border-bottom: 1px solid lightgrey;
    }

    .ScrollNav .nav-content {
        width: 100%;
        margin: 0;
    }

    .ScrollNav .nav-content .dropdown-nav span {
        font-size: 27px;
    }

    .ScrollNav #dropdownMenu {
        top: 90px;
    }
}