.ProcessInfo * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(51, 51, 51);
}

.ProcessInfo {
    width: 100vw;
    height: 800px;
}

.ProcessInfo .process-content {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.ProcessInfo .process-box {
    width: 1500px;
    height: auto;
    border: 1px solid pink;
}

.ProcessInfo .process-box .frontend-img {
    background-image: url("../../../../public/images/프론트엔드.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    width:320px;
    height: 360px;
    margin-right: 50px;
}

.ProcessInfo .process-box .backend-img {
    background-image: url("../../../../public/images/백엔드.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    width:320px;
    height: 360px;
}