.ProcessInfo * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(51, 51, 51);
}

.ProcessInfo {
    width: 100vw;
    height: 900px;
    background-color: white;
}

.ProcessInfo .process-content {
    width: 100%;
    height: 100%;
}

.ProcessInfo .process-box {
    width: 1100px;
    height: auto;
    
}

.ProcessInfo .process-box span {
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}

.ProcessInfo .process-box h1 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 15px;
}

.ProcessInfo .process-box .code-stack-box {
    margin-top: 50px;
    margin-bottom: 20px;
}

.ProcessInfo .process-box .frontend-process, 
.ProcessInfo .process-box .backend-process {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width:500px;
    height: 360px;
    border-radius: 25px;
}

.ProcessInfo .process-box .frontend-process {
    background-image: url("../../../../public/images/frontend01.jpg");
    margin-right: 50px;
}
.ProcessInfo .process-box .backend-process {
    background-image: url("../../../../public/images/backend01.jpg");
}

.ProcessInfo .process-box .process-content {
    background-color: rgba(45, 45, 45, 0.475);
    border-radius: 25px;
    padding: 30px;
    padding-left: 46px;
    text-align: left;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.ProcessInfo .process-box .process-content:hover {
    background-color: rgba(0, 0, 0, 0.723);
}

.ProcessInfo .process-box .process-content p {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.ProcessInfo .process-box .process-content-box {
    border: solid salmon;
    width: 400px;
    height: 230px;
    padding: 20px;
}

.ProcessInfo .process-box .process-item {
    font-size: 23px;
    font-weight: 600;
    background-color: white;
    padding: 1px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 25px;
    position: absolute;
    border: solid blue;
}

.ProcessInfo .process-box .more-info {
    width: 250px;
    height: 60px;
    margin-top: 45px;
    background-color: rgb(39, 235, 196);
    border-radius: 30px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border: 0;
}

.ProcessInfo .process-box .more-info:click {
    border: 0;
}

@media only screen and (max-width:767px) {
    .ProcessInfo{
        height: 870px;
    }
    .ProcessInfo .process-box {
        width: 100%;
        height: auto;
        padding: 15px;
    }
    .ProcessInfo .process-box span {
        font-size: 15px;
    }
    .ProcessInfo .process-box h1 {
        font-size: 25px;
    }
    .ProcessInfo .process-box p {
        font-size: 13px;
    }
    .ProcessInfo .process-box .frontend-process, 
    .ProcessInfo .process-box .backend-process  {
        width: 280px;
        height: 230px;
        margin: auto;
        display: block;
    }
    .ProcessInfo .process-box .backend-process {
        margin-top: 18px;
    }
    .ProcessInfo .process-box .more-info {
        width: 150px;
        height: 40px;
        margin-top: 25px;
        font-size: 13px;
    }
}