.Signup * {
    font-family: 'Pretendard-Regular';
}

.Signup {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.Signup .signup-content{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(248, 251, 249);
}

.Signup .signup-box {
    width: 440px;
    height: 580px;
    padding: 40px;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 0px 10px 3px lightgrey;
}

.Signup .logo {
    width: 45px;
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}

.Signup h3 {
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.Signup label {
    font-size: 13px;
}

.Signup form {
    margin-top: 35px;
}

.Signup .form-group input{
    width: 220px;
    font-size: 12px;
}

.Signup #affiliInput input{
    width: 150px;
}

.Signup .form-group select {
    float: left;
    width: 60px;
    height: 30px;
    font-size: 12px;
    margin-right: 10px;
}

.Signup #studentInput {
    margin-top: 5px;
}

.Signup #studentInput #major {
    width: 170px;
    float: left;
    margin-right: 10px;
}

.Signup #studentInput #snum {
    width: 120px;
}

.Signup .join-btn {
    width: 120px;
    height: 45px;
    margin-top: 20px;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(29, 205, 171);
}

.Signup .join-btn:hover {
    background-color: rgb(92, 222, 196);
}
