* {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(66, 66, 66);
}

.board-container {
    margin-bottom: 50px;
}
.board-title {
    margin-top: 100px;
    text-align: center;
}
.board-title h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 147px;
    margin-bottom: 30px;
    font-weight: 600;
    display: block;
}
.board-title-btn p {
    font-size: 22px;
    display: inline-block;
    width: 30%;
    height: 65px;
    line-height: 65px;
    vertical-align: middle;
}
.board-title-btn p:hover {
    border: none;
    background: whitesmoke;
}
.board-whole-line {
    display: block;
}
.board-search-container {
    text-align: end;
    margin-right: 10%;
    margin-top: 50px;
}
.board-search-select {
    width: 120px;
    height: 40px;
    margin-right: 10px;
}
.board-search-input {
    width: 190px;
    height: 40px;
}
.board-search-btn {
    width: 60px;
    height: 40px;
    background: #31343f;
    color: white;
    border: none;
}
.board-list-container {
    width: 80%;
    margin-left: 152.8px;
}
.board-tablerow-list {
    text-decoration: none;
}
.editor-box {
    margin-top: 50px;
}
.editor-title {
    margin-left: 170px;
    width: 1280px;
}
.editor-title-name, .editor-title-writer, .editor-title-date {
    list-style: none;
    width: 90%;
    height: 65px;
    display: flex;
    padding: 10px;
}
.editor-title-files {
    list-style: none;
    width: 90%;
    height: 74px;
    display: flex;
    padding: 10px;
}
.editor-title-name{
    border-top: 3px solid black;
}
.editor-title-writer {
    border-top: 1px solid darkgray;
}
.editor-title-date {
    border-top: 1px solid darkgray;
}
.editor-title-files {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}
.editor-title-name li, .editor-title-writer li, .editor-title-date li {
    width: 180px;
    height: 65px;
    line-height: 45px;
    padding: 0 0 0 30px;
    font-size: 1rem;
    font-weight: 500;
}
.editor-title-files li {
    width: 158px;
    height: 65px;
    line-height: 45px;
    padding: 0 0 0 30px;
    font-size: 1rem;
    font-weight: 500;
}
.editor-title-name input, .editor-title-writer input, .editor-title-date input {
    width: 100%;
    height: 45px;
    border: 1px solid #ebebeb;
    margin-top: 5px;
}
.editor-title-date input {
    background: whitesmoke;
    border: 1px solid #ebebeb;
}
.editor-submit-btn {
    text-align: center;
    position: relative;
    top: 79px;
    padding: 10px;
}
.editor-submit-btn button {
    margin: 3px;
    width: 100px;
    height: 45px;
    color: white;
    display: inline-block;
    border: none;
    border-radius: 3px;
}
.editor-btn-delete {
    background: #717171;
}
.editor-btn-enter {
    background: #398ee5;
}
.editor-title-files input[type=file]::file-selector-button {
    width: 150px;
    height: 45px;
    border: 1px solid #a1a1a1;
    color: white;
    background: #4d4d4d;
}
.editor-title-files input{
    width: 700px;
}
.board-eidit-btn {
    width: 75px;
    height: 40px;
    background: #31343f;
    color: white;
    float:left;
    margin-left: 153.8px;
    margin-bottom: 15px;
    border: none;
}
.board-detail-container {
    margin-top: 47px;
}
.board-detail-title {
    width: 1200px;
    height: 67px;
    border-top: 3px solid black;
    position: relative;
    padding: 10px 140px 18px 30px;
    margin-left: 169px;
}
.board-detail-sublist {
    width: 1200px;
    height: 67px;
    border-top: 1px solid #c8c8c8;
    margin-left: 169px;
}
.board-detail-sublist ul {
    list-style: none;
}
.board-detail-sublist li {
    display: inline-block;
}
.li-title-first, .li-title-second, .li-title-third {
    width: 7%;
    height: 67px;
    padding: 19.4px;
    color: #616161;
    display: inline-block;
}
.li-title-second {
    border-left: 1px solid #c8c8c8;;
}
.li-title-third {
    border-left: 1px solid #c8c8c8;;
}
.li-text {
    width: 26%;
    height: 67px;
    padding: 19.4px;
    display: inline-block;
}
.board-detail-files {
    width: 1200px;
    height: auto;
    margin-left: 169px;
    border-top: 1px solid #c8c8c8;;
    border-bottom: 1px solid #c8c8c8;;

}
.board-detail-files ul {
    display: inline-block;
    list-style: none;
}
.detail-files-title {
    font-size: 16px;
    color: #616161;
    padding: 17.5px;
    font-weight: bold;
}
.board-detail-content {
    width: 1200px;
    height: auto;
    margin-left: 169px;
    padding: 30px;
}
.board-detail-ripple {
    width: 1200px;
    height: auto;
    margin-left: 169px;
}
.board-detail-ripple h4 {
    display: inline-block;
}
.detail-ripple-container {
    margin: 0 0 20px 0;
    padding: 21px 1.5%;
    width: 1180px;
    height: 94px;
    border: 1px solid #dbdbdb;
    background-color: #f4f4f4;
    color: #969696;
    border-radius: 4px;
    font-weight: 300;
    font-family: 'Noto Sans KR', 'Nanum Gothic', 'Helvetica', sans-serif;
    font-size: 1rem;
    white-space: pre-line;
}
.detail-ripple-btn {
    display: inline-block;
    vertical-align: middle;
    width: 6.154rem;
    height: 2.692rem;
    border: 1px solid #398ee5;
    background-color: #398ee5;
    color: #fff;
    margin: 0 0.1154rem;
    padding: 0 1.071rem;
    border-radius: 3px;
    font-weight: 500;
    margin-left: 705px;
    margin-top: 14px;
}
.board-detail-next {
    margin-top: 120px;
}
.board-detail-next ul {
    width: 1177.6px;
    height: 61px;
    list-style: none;
    margin-left: 165px;
}
.board-detail-next li {
    display: inline-block;
    padding: 17.28px;
}
.detail-next-first {
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}
.detail-next-last {
    border-bottom: 1px solid #c8c8c8;
}
.detail-updown {
    width: 95px;
    padding-left: 30px;
    margin-top: -0.643rem;
    color: #6c6e6f;
    font-size: 1.077rem;
}
.detail-gotolist-btn {
    display: inline-block;
    vertical-align: end;
    width: 6.154rem;
    height: 2.692rem;
    border: 1px solid #717171;
    background-color: #717171;
    color: #fff;
    margin: 0 0.1154rem;
    padding: 0 1.071rem;
    border-radius: 3px;
    font-weight: 500;
    margin-left: 705px;
    margin-top: 14px;
}
.detail-ripple-content {
    margin-top: 30px;
    height: auto;
    max-height: 500px;
    overflow:scroll;
    overflow-x: hidden;
}
.reply-container {
    border-top: 1px dotted black;
    margin: auto;
    width: 80%;
}
.reply-container ul {
    list-style: none;
}
.reply-container li {
    display: inline-block;
    padding: 9px;
}
.reply-container li button {
    width: 50px;
    height: auto;
    border: 1px solid #717171;
    background: #717171;
    color: white;
}
.reply-container p {
    padding-left: 9px;
}
.detail-delete-btn {
    display: inline-block;
    width: 6.154rem;
    height: 2.692rem;
    border: 1px solid #717171;
    background-color: #717171;
    color: #fff;
    padding: 0 1.071rem;
    border-radius: 3px;
    font-weight: 500;
    margin-left: 1180px;
    margin-top: 30px;
}