.apply-total {
    min-width: 470px;
}
.apply-title {
    width: 100%;
    background: whitesmoke;
    height: 100px;
}
.apply-title h1 {
    padding: 25px;
}
.apply-insert {
    width: 100%;
    height: 94px;
    margin-top: 36px;
    display: inline-block;
}
.apply-insert-algin{
    text-align: end;
}
.apply-insert-search {
    width: 28%;
    height: 43px;
    margin: 10px;
    background: whitesmoke;
    border: none;
}
.apply-insert-select {
    width: 100px;
    height: 43px;
    border: none;
}
.apply-first-label {
    padding: 20px;
    position: absolute;
}
.apply-last-label {
    padding: 20px;
    position: absolute;
    margin-top: -71px;
}
.apply-insert-table {
    border-top: 3px solid black;
    height: 50.79px;
    background: whitesmoke;
}
.apply-insert-table ul {
    list-style: none;
    display: inline-flex;
    padding: 10px;
}
.apply-insert-table ul li {
    padding-left: 25px;
}
.table-first {
    margin-left: 50px;
    width: 53px;
}
.table-second {
    margin-left: 75px;
    width: 53px;
}
.table-third{
    margin-left: 127px;
    width: 53px;
}
.table-fourth {
    margin-left: 95px;
    width: 53px;
}
.table-fifth {
    margin-left: 80px;
    width: 53px;
}
.table-sixth {
    margin-left: 128px;
    width: 67px;
}
.table-seventh {
    margin-left: 128px;
    width: 81px;
}
.table-last {
    margin-left: 69px;
    width: 53px;
}
.apply-insert-items {
    height: 50.79px;
}
.apply-insert-items ul {
    list-style: none;
    display: inline-flex;
    padding: 10px;
}
.apply-insert-items ul li {
    padding-left: 25px;
}
.items-first {
    margin-left: 50px;
    width: 68px;
}
.items-second {
    margin-left: 36px;
    width: 180px;
}
.items-third {
    margin-left: 3px;
    width: 50px;
}
.items-fourth {
    margin-left: 127px;
    width: 10px;
}
.items-fifth {
    margin-left: 50px;
    width: 100px;
}
.items-sixth {
    margin-left: 100px;
    width: 50px;
}
.items-seventh {
    margin-left: 174px;
}
.items-last {
    margin-left: 50px;
}
.apply-items-box {
    height: 280px;
    overflow: auto;
}
.apply-selection {
    text-align: center;
    margin-top: 18px;
}
.apply-select-btn {
    height: 47px;
    width: 100px;
    border: none;
    background: #62669d;
    color: white;
}
.items-btn {
    height: 29px;
    width: 50px;
    border:1.6px solid black;
    background: whitesmoke;
    color: black;
}
.items-file {
    height: 29px;
    width: 64px;
    border:1.6px solid black;
    background: whitesmoke;
    color: black;
}
.items-btn:active {
    height: 29px;
    width: 50px;
    border:none;
    background: #62669d;
    color: white;
}
.applyl-select-result {
    width: 100%;
    height: 180px;
    border: 3px solid black;
    margin-top: 100px;
    overflow: scroll;
}
.apply-result-list {
    padding: 9px;
    font-size: smaller;
}
.result-contents {
    border: 1px solid #cbe6ff;
    background: #e5f3ff;
    color: black;
    width: auto;
    height: 25px;
    display: inline;
    float: left;
    padding: 1.4px;
    margin: 5px;
}
.result-contents:hover {
    border: 3px solid #0087ff;
}
.result-contents:active {
    background: #0087ff;
    color: whitesmoke;
}
.items-checkbox {
    margin-left: 50px;
    width: 30px;
}
/* .items-checkbox:checked {
    background-color: gray;
} */