.apply-total {
    min-width: 1104px;
}
.apply-title {
    width: 100%;
    background: whitesmoke;
    height: 100px;
}
.apply-title h1 {
    padding: 25px;
}
.apply-insert {
    width: 100%;
    height: 94px;
    margin-top: 36px;
    display: inline-block;
}
.apply-insert-algin{
    text-align: end;
}
.apply-insert-search {
    width: 28%;
    height: 43px;
    margin: 10px;
    background: whitesmoke;
    border: none;
}
.apply-insert-select {
    width: 100px;
    height: 43px;
    border: none;
}
.apply-first-label {
    padding: 20px;
    position: absolute;
}
.apply-last-label {
    padding: 20px;
    position: absolute;
    margin-top: -71px;
}
.apply-insert-table {
    border-top: 3px solid black;
    height: 50.79px;
    background: whitesmoke;
}
.apply-insert-table ul {
    list-style: none;
    display: inline-flex;
    padding: 10px;
}
.apply-insert-table ul li {
    padding-left: 25px;
}
.table-first {
    margin-left: 76px;
}
.table-second, .table-third {
    margin-left: 127px;
}
.table-fourth {
    margin-left: 195px;
}
.table-fifth {
    margin-left: 238.5px;
}
.apply-insert-items {
    height: 50.79px;
}
.apply-insert-items ul {
    list-style: none;
    display: inline-flex;
    padding: 10px;
}
.apply-insert-items ul li {
    padding-left: 25px;
}
.items-first {
    margin-left: 36.28px;
}
.items-second {
    margin-left: 91.8px;
}
.items-third {
    margin-left: 74px;
}
.items-fourth {
    margin-left: 106.5px;
}
.items-fifth {
    margin-left: 148px;
}
.apply-items-box {
    height: 280px;
    overflow: auto;
}
.apply-selection {
    text-align: center;
    margin-top: 18px;
}
.apply-select-btn {
    height: 47px;
    width: 100px;
    border: none;
    background: #62669d;
    color: white;
}
.items-btn {
    height: 29px;
    width: 50px;
    border:none;
    background: #e5dfff;
    color: black;
    box-shadow: 1.7px 1.7px #122a4f;
}
.items-btn:active {
    height: 29px;
    width: 50px;
    border:none;
    background: #62669d;
    color: white;
}
.applyl-select-result {
    width: 100%;
    height: 180px;
    border: 3px solid black;
    margin-top: 100px;
}