.Graduate * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(51, 51, 51);
}

.Graduate {
    width: 100vw;
    height: 800px;
    background-color: rgb(248, 251, 249);
}

.Graduate .graduate-content {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.Graduate .graduate-box {
    width: 1500px;
    height: auto;
    border: 1px solid pink;
}