.Graduate * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(51, 51, 51);
}

.Graduate {
    width: 100vw;
    height: 800px;
    background-image: url("../../../../public/images/background01-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Graduate .graduate-content {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.Graduate .graduate-box {
    width: 1100px;
    height: auto;
    border: 1px solid pink;
}

.Graduate .graduate-box h1 {
    color: rgb(7, 1, 38);
    font-size: 45px;
    font-weight: 600;
}

.Graduate .graduate-box .img-box {
    width: 250px;
    height: 350px;
    display: inline-block;
    margin-top: 40px;
    border: 1px solid forestgreen;
}

.Graduate .graduate-box #graduation-box {
    margin-right: 80px;
}

.Graduate .graduate-box .graduation-img {
    background-image: url("../../../../public/images/graduate.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 110px;

}

.Graduate .graduate-box .nonmajor-img {
    background-image: url("../../../../public/images/book01.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 105px;
    height: 115px;
}

.Graduate .graduate-box #nonmajor-box {
    margin-left: 80px;
}

@media only screen and (max-width:767px) {
    .Graduate {
        height: 1000px;
    }
    .Graduate .graduate-box {
        width: 100%;
        padding: 20px;
    }
    .Graduate .graduate-box h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .Graduate .graduate-box #graduation-box,.Graduate .graduate-box #nonmajor-box{
        width: 200px;
        height: 300px;
        margin: auto;
        display: block;
    } 
    .Graduate .graduate-box #graduation-box {
        margin-bottom: 20px;
    }
    .Graduate .graduate-box #nonmajor-box {
        margin-bottom: 30px;
    }
}