.Graduate * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(51, 51, 51);
}

.Graduate {
    width: 100vw;
    height: 800px;
    background-image: url("../../../../public/images/background01-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Graduate .graduate-content {
    width: 100%;
    height: 100%;
}

.Graduate .graduate-box {
    width: 1100px;
    height: auto;
}

.Graduate .graduate-box h1 {
    color: rgb(7, 1, 38);
    font-size: 48px;
    font-weight: 600;
}

.Graduate .graduate-box p {
    font-size: 18px;
    font-weight: 600;
    word-break: keep-all;
    white-space: pre-wrap;
}

.Graduate #graduation-box p, .Graduate #nonmajor-box p, .Graduate #worker-box p {
    font-size: 15px;
    font-weight: 500;
}

.Graduate .graduate-box label {
    font-size: 33px;
    font-weight: 600;
}

.Graduate .graduate-box .img-box {
    display: inline-block;
    margin-top: 55px;
}

.Graduate #graduation-box {
    margin-right: 40px;
    margin-bottom: 45px;
}

.Graduate #worker-box {
    margin-left: 80px;
}

.Graduate .graduate-box img {
    margin-bottom: 26px;
    display: inline-block;
    content: "";
}

.Graduate .graduate-box .graduation-img {
    width: 128px;
}

.Graduate .graduate-box .nonmajor-img {
    width: 117px;
}

.Graduate .graduate-box .worker-img {
    width: 120px;
}

.Graduate .graduate-box #nonmajor-box {
    margin-left: 80px;
}

@media only screen and (max-width:767px) {
    .Graduate {
        height: 800px;
        background-image: url("../../../../public/images/background01-vertical.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .Graduate .graduate-box {
        width: 100%;
        padding: 20px;
    }
    .Graduate .graduate-box h1 {
        font-size: 25px;
        margin-bottom: 40px;
    }
    .Graduate .graduate-box #graduation-box {
        display: block;
    }
    .Graduate .graduate-box #graduation-box,
    .Graduate .graduate-box #nonmajor-box,
    .Graduate #worker-box{
        width: 200px;
        margin: auto;
    }
    .Graduate .graduate-box #nonmajor-box,
    .Graduate #worker-box{
        display: inline-block;
    }
    .Graduate .graduate-box #graduation-box,
    .Graduate .graduate-box #nonmajor-box {
        margin-bottom: 20px;
    }
    .Graduate .graduate-box #worker-box {
        margin-bottom: 30px;
    }
    .Graduate .graduate-box .nonmajor-img {
        margin-left: 30px;
    }
    .Graduate .graduate-box label {
        font-size: 28px;
    }
    .Graduate .graduate-box p {
        font-size: 14px;
    }
    .Graduate .graduate-box .graduation-img {
        width: 118px;
    }
    .Graduate .graduate-box .nonmajor-img {
        width: 107px;
    }
    .Graduate .graduate-box .worker-img {
        width: 110px;
    }
}