.modal {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    animation: modal-bg-show 0.3s;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}

.modal > section {
    width: 40%;
    height: 95%;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
}

.modal > section > main {
    height: 100%;
    padding: 16px;
}

.modal .modal-image {
    width: 100%;
    object-fit: contain;
}

@keyframes modal-show {
    from {
    opacity: 0;
    margin-top: -50px;
    }
    to {
    opacity: 1;
    margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

@media only screen and (max-width:767px) {
    .modal > section {
        width: 90%;
    }
}