* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
}
.sidenav-container {
    display: flex;
    background-image: url("../../../public/images/background10.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    width: 100%;
    padding: 20px;
}
.sidenav-box {
    background: rgb(157, 255, 216); /*SideNavbar 전체 색상코드*/
    height: 100vh;
    width: 300px;
    transition: all 0.7s; /*SideNavbar 이벤트 스크롤 속도 CSS*/
    position: sticky;
    top: 0;
    border-radius: 38px;
}
.sidenav-top {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.sidenav-top .navLink{
    text-decoration: none;
}
.sidenav-logo {
    font-size: 25px;
    text-decoration: none;
}
.sidenav-webkitbars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link {
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover {
    background: #e5dfff; /*SideNavbar hover 색상코드 */
    color: black;
    text-decoration: none;
    transition: all 0.5s;
}
/*.active {
    background: hotpink;
    color: black;
}*/
.sidenav-icon, .sidenav-link-text {
    font-size: 20px;
}
.sidenav-foot {
    display: flex;
    position: absolute;
    margin-top: 627px;
    padding-left: 129px ;
}
.sidenav-link-hint {
    position: absolute;
    width: 100px;
    margin-left: 50px;
    visibility: hidden;
    display: none;
    background:#e5dfff;
    border: none;
    text-align: center;
    border-radius: 5px;
    z-index: 1999;
}
.link:hover .sidenav-link-hint {
    visibility: visible;
}

@media all and (max-width: 1536px) {

    .sidenav-foot {
        top: 479px;
        padding-left: 146px ;
    }

}