* {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
}

.Frequently {
    width: 100vw;
    height: 100vh;
}

.frequently-background {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/images/background06-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.frequently-content {
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.frequently-next-content {
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
