.Review * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(51, 51, 51);
}

.Review {
    width: 100vw;
    height: 900px;
}

.Review .review-content {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.Review .review-box {
    width: 1500px;
    height: auto;
    border: 1px solid pink;
}

.Review #reviewCarousel img {
    width: 550px;
    height: 400px;
}

.carousel-control-prev, .carousel-control-next {
    background-color: black;
    width: 20px;
}

.item-left {
    margin-right: 15px;
}

.item-right {
    margin-left: 15px
}

@media only screen and (max-width:767px) {
    .Review {
        height: 650px;
    }
    .Review .review-box {
        width: 100%;
        height: auto;
        padding: 15px;
    }
    .Review .review-box h1 {
        font-size: 25px;
    }
    .Review #reviewCarousel img {
        width: 100%;
        height: 300px;
    }
    #reviewCarousel {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}