.DetailMenu * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
}

.DetailMenu {
    width: 100vw;
    height: 140px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
}

.DetailMenu .detail-content {
    width: 1200px;
    height: 40px;
    margin: auto;
}

.DetailMenu ul {
    list-style: none;
    float: left;
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

.DetailMenu ul #menu01, .DetailMenu ul #menu02 {
    margin: 0;
    padding: 0;
    width: 70px;
    position: absolute;
}

.DetailMenu li {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-size: 15px;
}