.Header * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(66, 66, 66);
}

.Header {
    position: relative;
    z-index: 999;
}

.Header #navBarIncludeDetail {
    position: fixed;
    top: 0;
}

.Header .navbar-brand {
    float: left;
    margin: 0;
    margin-top: 6px;
    background-image: url("../../../public/images/logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 47px;
    height: 30px;
}

.Header #navBar {
    width: 100vw;
    height: 70px;
    padding: 1%;
    padding-left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
}

.Header #navBar:hover {
    background-color: rgba(255, 255, 255, 0.781);
}

.Header .nav-content {
    width: 1200px;
    height: 30px;
    margin: auto;
}

.Header #menuList {
    width: 100%;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 0;
    padding: 8px;
}

.Header #menuList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 200px;
}

.Header #menuList li {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 60px;
    font-size: 15px;
}

.Header #menuList li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.Header .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: relative;
}

.Header #menuList #loginState li{
    float: right;
}

.Header #menuList #logout li{
    float: right;
    margin-left: 40px;
}

.Header #menuList .login-btn, 
.Header #menuList .logout-btn, 
.Header #menuList .mypage-btn {
    font-weight: 400;
}

.Header #userDetailMenu{
    width: 130px;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 0;
}

.Header #userDetailMenu ul {
    list-style: none;
    margin: 0;
    padding: 7px;
    text-align: center;
}

.Header #userDetailMenu li {
    height: 15px;
    line-height: 15x;
    text-align: middle;
    margin-bottom: 10px;
}

.Header #userDetailMenu li button {
    background-color: rgba(240, 248, 255, 0);
    border: 0;
}

.Header #userDetailMenu li a {
    text-decoration: none;
    font-size: 15px;
}

.Header #userDetailMenu li a:hover {
    color:rgb(66, 66, 66);
}

.Header .hide-menu {
    width: 40px;
    float: right;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
}

.Header .hide-menu .hide-menu-btn {
    border: 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}

.Header .hide-menu .hide-menu-btn:click {
    border: 0;
}

@media only screen and (min-width:768px) and (max-width:1200px){
    .Header .nav-content {
        width: 100%;
    }
}

@media only screen and (max-width:767px){
    .Header #navBar {
        height: 60px;
        padding: 10px;
        padding-left: 20px;
    }
    .Header .nav-content {
        width: 100%;
    }
}