.Header * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(66, 66, 66);
}

.Header {
    position: relative;
    z-index: 999;
}

.Header #navBarIncludeDetail {
    position: fixed;
    top: 0;
}

.Header .navbar-brand {
    float: left;
    margin: 0;
}

.Header #navBar {
    width: 100vw;
    height: 90px;
    padding: 25px;
    position: fixed;
}

.Header .nav-content {
    width: 1480px;
    height: 40px;
    margin: auto;
}

.Header #menuList {
    width: 1480px;
    height: 40px;
    margin-left: 0;
    padding: 5px;
}

.Header #menuList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 250px;
}

.Header #menuList li {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 600;
}

.Header #menuList li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.Header .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: relative;
}

.Header #menuList #loginState li{
    float: right;
    margin-left: 40px;
}

.Header #menuList #logout li{
    float: right;
    margin-left: 40px;
}

.Header #userDetailMenu{
    width: 160px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 0;
}

.Header #userDetailMenu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.Header #userDetailMenu li {
    height: 35px;
    line-height: 35px;
    text-align: middle;
}

.Header #userDetailMenu li a {
    text-decoration: none;
    font-size: 20px;
}

.Header #userDetailMenu li a:hover {
    color:rgb(66, 66, 66);
}

.Header .hide-menu {
    width: 40px;
    float: right;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
}

.Header .hide-menu .hide-menu-btn {
    border: 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}

.Header .hide-menu .hide-menu-btn:click {
    border: 0;
}

@media only screen and (min-width:768px) and (max-width:1200px){
    .Header .nav-content {
        width: 100%;
    }
}

@media only screen and (max-width:767px){
    .Header #navBar {
        height: 60px;
        padding: 10px;
        padding-left: 20px;
    }
    .Header .nav-content {
        width: 100%;
    }
}