.Header * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
}

.Header {
    position: relative;
    z-index: 2;
}

.Header .navbar-brand {
    float: left;
    margin: 0;
}

.Header #navBar {
    height: 90px;
    padding: 25px;
    position: fixed;
    top: 0;
}

.Header .nav-content {
    width: 1480px;
    height: 40px;
    margin: auto;
}

.Header #menuList {
    width: 1480px;
    height: 40px;
    margin-left: 0;
    padding: 5px;
}

.Header #menuList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 250px;
}

.Header #menuList li {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    font-size: 20px;
}

.Header #menuList li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.Header .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: relative;
}

.Header #menuList #loginState li{
    float: right;
    margin-left: 40px;
}

.Header #menuList #logout li{
    float: right;
    margin-left: 40px;
}