.apply-total {
    width: 100vw;
    height: 700px;
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(66, 66, 66);
}
.apply-title {
    font-weight: 600;
}
.apply-container {
    width: 700px;
    margin-top: 30px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}
.apply-container ul {
    list-style: none;
    padding: 0px 10px 10px 10px;
}
.apply-container li {
    padding: 10px;
}
.apply-text {
    margin-bottom: 3px;
}
.apply-name, .apply-major, .apply-school, .apply-schoolnumber, .apply-schoolyear {
    height: 39px;
    width: 280px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid lightgrey;
    padding-left: 10px;
    font-size: 13px;
}
.apply-schoolnumber {
    width: 180px;
}
.apply-submit {
    margin-top: 10px;
}
.file-detail {
    font-size: 13px;
    color: black;
    font-weight: light;
    padding-top: 5px;
}
.schoolgrade, .schoolnumber {
    display: inline-block;
}
.apply-schoolyear {
    width: 81px;
    height: 39px;
}
.modal-title, .modal-content {
    word-break: keep-all;
    white-space: pre-wrap;
}
.apply-result-btn {
    background-color: rgba(44, 250, 209, 0.688);
}
.apply-result-btn:hover {
    background-color: rgba(237, 255, 251, 0.896);
    color: rgba(44, 250, 209);
}
.apply-block-btn {
    background-color: rgba(191, 191, 191, 0.688);
}

@media all and (max-width: 1536px) {
    .apply-submit {
        margin-top: 10px;
    }
    .apply-container {
        height: 576px;
    }

}

.apply-result-container {
    width: 88%;
    height: 180px;
    background: white;
    margin: auto;
    position: relative;
    top: 30%;
}
.apply-result-container h2 {
    padding-top: 10px;
    padding-left: 30px;
    font-weight: bold;
}
.result-title-first {
    display: flex;
}
.apply-result-container p {
    padding-top: 30px;
    padding-left: 30px;
    display: inline-block;
    font-size: large;
    font-weight: bold;
}
.result-title-second input {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    float: right;
    margin-right: 50px;
}
.modal-title {
    text-align: center;
    font-weight: bold;
}
.modal-content {
    text-align: center;
    margin-top: 30px;
    padding: 95px;
    font-size: large;
}
.modal-btn {
    width: 79px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #717171;
    color: white;
    background: #717171;
    margin-top: 80px;
    margin-left: 318px;
}