.apply-total {
    width: 100vw;
    height: 100vh;
}
.apply-title {
    width: 100%;
    background: whitesmoke;
    height: 100px;
}
.apply-title h1 {
    padding: 25px;
}
.apply-container {
    width: 100%;
    height: 700px;
    background: whitesmoke;
    margin-top: 30px;
    box-shadow: 5px 5px 5px 5px #f3f3f3;
}
.apply-container ul {
    list-style: none;
    padding: 0px 10px 10px 10px;
}
.apply-container li {
    padding: 10px;
}
.apply-text {
    color: gray;
    margin-bottom: 3px;
}
.apply-name, .apply-major, .apply-school {
    height: 39px;
    width: 280px;
    font-size: 16px;
}
.apply-schoolnumber {
    height: 39px;
    width: 180px;
    font-size: 13.6px;
}
.apply-submit {
    border-top: 0.5px solid gray;
    margin-top: 10px;
}
.apply-submit-btn {
    height: 50px;
    width: 280px;
    font-size: 25px;
    margin: 30px 30px 30px 25px;
    background: #62669d;
    color: white;
    border: none;
}
.file-detail {
    font-size: 14px;
    color: black;
    font-weight: light;
    padding-top: 5px;
}
.schoolgrade, .schoolnumber {
    display: inline-block;
}
.apply-schoolyear {
    width: 81px;
    height: 39px;
}
.modal-title, .modal-content {
    word-break: keep-all;
    white-space: pre-wrap;
}


@media all and (max-width: 1536px) {

    .apply-submit {
        border-top: 0.5px solid gray;
        margin-top: 10px;
    }
    .apply-container {
        height: 576px;
    }

}

.apply-result-container {
    width: 88%;
    height: 180px;
    background: white;
    margin: auto;
    position: relative;
    top: 30%;
}
.apply-result-container h2 {
    padding-top: 10px;
    padding-left: 30px;
    font-weight: bold;
}
.result-title-first {
    display: flex;
}
.apply-result-container p {
    padding-top: 30px;
    padding-left: 30px;
    display: inline-block;
    font-size: large;
    font-weight: bold;
}
.result-title-second input {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    float: right;
    margin-right: 50px;
}
.modal-title {
    text-align: center;
    font-weight: bold;
}
.modal-content {
    text-align: center;
    margin-top: 30px;
    padding: 95px;
    font-size: large;
}
.modal-btn {
    width: 79px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #717171;
    color: white;
    background: #717171;
    margin-top: 80px;
    margin-left: 318px;
}