.About03 * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(7, 1, 38);
}

.About03 {
    width: 100vw;
    height: 800px;
    background-image: url("../../../public/images/background09.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.About03 .about03-content {
    width: 100%;
    height: 100%;
}

.About03 .about03-box {
    width: 80%;
    height: auto;
}

.About03 .nivo-pie {
    width: 45%;
    height: 580px;
    margin-top: 50px;
    float: right;
}

.About03 .contents {
    width: 50%;
    float: left;
    margin-top: 30px;
}

.About03 .contents h2 {
    width: fit-content;
    font-weight: 600;
    font-size: 48px;
    margin-left: 10%;
}

.About03 .contents ul {
    list-style: none;
    margin: 0;
    margin-top: 60px;
    margin-left:5%;
    margin-bottom: 50px;
}

.About03 .contents li {
    width: 100%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    margin-bottom: 18px;
    border-radius: 45px;
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.About03 .contents .li01:hover {
    background-color: rgb(255, 244, 244);
}
.About03 .contents .li02:hover {
    background-color: rgb(246, 255, 234);
}
.About03 .contents .li03:hover {
    background-color: rgb(246, 235, 255);
}
.About03 .contents .li04:hover {
    background-color: rgb(255, 254, 238);
}
.About03 .contents .li05:hover {
    background-color: rgb(238, 244, 255);
}
.About03 .contents .li06:hover {
    background-color: rgb(255, 245, 252);
}
.About03 .contents .li07:hover {
    background-color: rgb(242, 255, 235);
}

@media only screen and (max-width:767px) {
    .About03 {
        height: 600px;
    }
    .About03 .about03-box {
        width: 100%;
        height: auto;
    }
    .About03 .contents {
        width: 100%;
        float: none;
    }
    .About03 .contents h2 {
        width: fit-content;
        font-size: 24px;
        font-weight: 600;
        margin-left: 30px;
    }
    .About03 .contents ul {
        margin-top: 40px;
        margin-bottom: 0;
    }
    .About03 .contents li {
        width: 95%;
        height: 35px;
        line-height: 35px;
        font-size: 13px;
        margin-bottom: 14px;
        padding-left: 0px;
        padding-right: 0px;
    }
}