.Arrow .arrow {
    z-index: 999;
    position: fixed;
    top: 740px;
    font-size: 70px;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 20px rgb(182, 182, 182);
    display: inline-block;
    margin: auto;
    background-color: rgba(240, 248, 255, 0);
    border: 0;
}

@media only screen and (max-width:767px) {
    .Arrow .arrow{
        top: 460px;
        font-size: 40px;
    }
}