.Footer * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(92, 92, 92);
}

.Footer {
    width: 100vw;
}

.Footer .footer-content {
    width: 100%;
    height: 100%;
    background-image: url("../../../public/images/background01-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Footer .footer-contents{
    padding-left: 50px;
}

.Footer .footer-box {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

@media only screen and (max-width:767px) {
    .Footer h5{
        font-size: 15px;
    }
    .Footer .footer-contents{
        font-size: 13px;
        padding-left: 10px;
    }
    .Footer .footer-box {
        margin-top: 10px;
    }
}