@tailwind base;
@tailwind components;
@tailwind utilities;

.With * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
    color: rgb(51, 51, 51);
}

.With {
    width: 100vw;
    height: 300px;
    background-color: rgb(248, 251, 249);
}

.With .with-content {
    width: 100%;
    height: 100%;
}

.With .with-box {
    width: 100%;
    height: auto;
}

.With .with-box h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 65px;
}

.With .with-box .wrapper {
    width: 100vw;
    height: 40px;
    overflow: hidden;
}

.With .with-box #roller1, .With .with-box #roller2 {
    width: auto;
    height: 40px;
    float: left;
    position: absolute;
}

.With .with-box #roller1{
    line-height: 40px;
    vertical-align: middle;
}

.With .with-box .wrapper ul {
    height: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.With .with-box .wrapper ul li {
    float: left;
    margin-left: 50px;
}

.With .with-box .wrapper ul li, .With .with-box img {
    height: 40px;
}

#roller1 ul {
    border: solid red;
}
#roller2 ul {
    border: solid blue;
}

.roller.original{
    animation: 33s linear 0s infinite normal forwards running rollingleft1;
}

.roller.clone{
    animation: 33s linear 0s infinite normal none running rollingleft2;
}

@keyframes rollingleft1 {
    0% {
        transform: translateX(0);
    }
    /* 50% {
        transform: translateX(-100%);
    }
    50.01%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    } */
}

@keyframes rollingleft2 {
    0% {
        transform: translateX(0);
    }
    /* 100% {
        transform: translateX(-200%);
    } */
}

@media only screen and (max-width:767px) {
    .With {
        height: 250px;
    }
    .With .with-box h2 {
        font-size: 20px;
    }
    .With .with-box .wrapper ul li, .With .with-box img {
        height: 32px;
    }
    .With .with-box .wrapper {
        border: solid black;
    }
    #roller1 {
        border: solid red;
    }
    #roller2 {
        border: solid blue;
    }
}