.Aboutus * {
    font-family: 'Pretendard-Regular';
    letter-spacing: normal;
}

.Aboutus {
    width: 100vw;
    height: 100vh;
}

.Aboutus .scroll-arrow {
    position: fixed;
    font-size: 100px;
    z-index: 99;
}

.Aboutus .aboutus-content {
    width: 100%;
    height: 100%;
    color: rgb(51, 51, 51);
}

.Aboutus .aboutus-background {
    width: 100%;
    height: 800px;
    background-image: url("../../../public/images/background06-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Aboutus #aboutus-header h2,
.Aboutus #aboutus-header p,
.Aboutus #aboutus-header label,
.Aboutus #aboutus-header span {
    font-weight: 600;
    color: rgb(7, 1, 38);;
}

.Aboutus #aboutus-header p {
    font-size: 30px;
    margin: 0;
}

.Aboutus #aboutus-header h2 {
    font-size: 90px;
}

.Aboutus #aboutus-header label {
    display: block;
    font-size: 20px;
}

.Aboutus #aboutus-header span {
    display: block;
    margin-bottom: 10px;
}